/* Google Font CDN Link */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge add Firefox */
.scrollbar-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none;
  /* Firefox */
}

body {
  line-height: 1;
  overscroll-behavior: none;
  overflow-x: hidden;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-family: "Kanit", sans-serif;
  font-family: "Martel Sans", sans-serif;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.bg-red {
  background-color: #db0000;
}

.bg-black {
  background-color: #000;
}

.bg-white {
  background-color: #fff;
}

.bg-grey {
  background-color: #141414;
}

.bg-dark-red {
  background-color: #831010;
}

.bg-transparent {
  background-color: transparent;
}

.text-red {
  color: #db0000;
}

.text-black {
  color: #000;
}

.text-white {
  color: #fff;
}

.text-grey {
  color: #564d4d;
}

.text-dark-red {
  color: #831010;
}

.text-transparent {
  color: transparent;
}

.text-main {
  color: #3A3A3A;
}

.disp-block {
  display: block;
}

.disp-none {
  display: none;
}

.disp-inline-block {
  display: inline-block;
}

.disp-flex {
  display: flex;
}

.line-1-1 {
  line-height: 1.1;
}

.line-1-2 {
  line-height: 1.2;
}

.line-1-3 {
  line-height: 1.3;
}

.weight-400 {
  font-weight: 400;
}

.weight-500 {
  font-weight: 500;
}

.weight-600 {
  font-weight: 600;
}

.weight-bold {
  font-weight: bold;
}

.weight-bolder {
  font-weight: bolder;
}

.text-end {
  text-align: end;
}

.text-start {
  text-align: start;
}

.text-center {
  text-align: center;
}

.bRadius-0 {
  border-radius: 0;
}

@media (max-width: 400px) {
  .bRadius-0 {
    border-radius: 0;
  }
}
@media (max-width: 600px) {
  .bRadius-0 {
    border-radius: 0;
  }
}
.bRadius-1 {
  border-radius: 5px;
}

@media (max-width: 400px) {
  .bRadius-1 {
    border-radius: 2.7777777778px;
  }
}
@media (max-width: 600px) {
  .bRadius-1 {
    border-radius: 3.5714285714px;
  }
}
.bRadius-2 {
  border-radius: 10px;
}

@media (max-width: 400px) {
  .bRadius-2 {
    border-radius: 5.5555555556px;
  }
}
@media (max-width: 600px) {
  .bRadius-2 {
    border-radius: 7.1428571429px;
  }
}
.bRadius-3 {
  border-radius: 15px;
}

@media (max-width: 400px) {
  .bRadius-3 {
    border-radius: 8.3333333333px;
  }
}
@media (max-width: 600px) {
  .bRadius-3 {
    border-radius: 10.7142857143px;
  }
}
.bRadius-4 {
  border-radius: 20px;
}

@media (max-width: 400px) {
  .bRadius-4 {
    border-radius: 11.1111111111px;
  }
}
@media (max-width: 600px) {
  .bRadius-4 {
    border-radius: 14.2857142857px;
  }
}
.bRadius-5 {
  border-radius: 25px;
}

@media (max-width: 400px) {
  .bRadius-5 {
    border-radius: 13.8888888889px;
  }
}
@media (max-width: 600px) {
  .bRadius-5 {
    border-radius: 17.8571428571px;
  }
}
.text-0 {
  font-size: 0.2em;
}

@media (max-width: 400px) {
  .text-0 {
    font-size: 0.1111111111em;
  }
}
@media (max-width: 600px) {
  .text-0 {
    font-size: 0.1428571429em;
  }
}
.text-1 {
  font-size: 0.5em;
}

@media (max-width: 400px) {
  .text-1 {
    font-size: 0.2777777778em;
  }
}
@media (max-width: 600px) {
  .text-1 {
    font-size: 0.3571428571em;
  }
}
.text-2 {
  font-size: 1em;
}

@media (max-width: 400px) {
  .text-2 {
    font-size: 0.5555555556em;
  }
}
@media (max-width: 600px) {
  .text-2 {
    font-size: 0.7142857143em;
  }
}
.text-3 {
  font-size: 1.5em;
}

@media (max-width: 400px) {
  .text-3 {
    font-size: 0.8333333333em;
  }
}
@media (max-width: 600px) {
  .text-3 {
    font-size: 1.0714285714em;
  }
}
.text-4 {
  font-size: 1.7em;
}

@media (max-width: 400px) {
  .text-4 {
    font-size: 0.9444444444em;
  }
}
@media (max-width: 600px) {
  .text-4 {
    font-size: 1.2142857143em;
  }
}
.text-5 {
  font-size: 1.8em;
}

@media (max-width: 400px) {
  .text-5 {
    font-size: 1em;
  }
}
@media (max-width: 600px) {
  .text-5 {
    font-size: 1.2857142857em;
  }
}
.text-6 {
  font-size: 2.5em;
}

@media (max-width: 400px) {
  .text-6 {
    font-size: 1.3888888889em;
  }
}
@media (max-width: 600px) {
  .text-6 {
    font-size: 1.7857142857em;
  }
}
.text-7 {
  font-size: 2.8em;
}

@media (max-width: 400px) {
  .text-7 {
    font-size: 1.5555555556em;
  }
}
@media (max-width: 600px) {
  .text-7 {
    font-size: 2em;
  }
}
.text-heading {
  font-size: 7.5em;
}

@media (max-width: 400px) {
  .text-heading {
    font-size: 4.1666666667em;
  }
}
@media (max-width: 600px) {
  .text-heading {
    font-size: 5.3571428571em;
  }
}
.p-0 {
  padding: 0;
}

@media (max-width: 400px) {
  .p-0 {
    padding: 0;
  }
}
@media (max-width: 600px) {
  .p-0 {
    padding: 0;
  }
}
.p-1 {
  padding: 0.5rem;
}

@media (max-width: 400px) {
  .p-1 {
    padding: 0.2777777778rem;
  }
}
@media (max-width: 600px) {
  .p-1 {
    padding: 0.3571428571rem;
  }
}
.p-2 {
  padding: 1rem;
}

@media (max-width: 400px) {
  .p-2 {
    padding: 0.5555555556rem;
  }
}
@media (max-width: 600px) {
  .p-2 {
    padding: 0.7142857143rem;
  }
}
.p-3 {
  padding: 2rem;
}

@media (max-width: 400px) {
  .p-3 {
    padding: 1.1111111111rem;
  }
}
@media (max-width: 600px) {
  .p-3 {
    padding: 1.4285714286rem;
  }
}
.p-4 {
  padding: 3rem;
}

@media (max-width: 400px) {
  .p-4 {
    padding: 1.6666666667rem;
  }
}
@media (max-width: 600px) {
  .p-4 {
    padding: 2.1428571429rem;
  }
}
.p-5 {
  padding: 4rem;
}

@media (max-width: 400px) {
  .p-5 {
    padding: 2.2222222222rem;
  }
}
@media (max-width: 600px) {
  .p-5 {
    padding: 2.8571428571rem;
  }
}
.pl-0 {
  padding-left: 0;
}

@media (max-width: 400px) {
  .pl-0 {
    padding-left: 0;
  }
}
@media (max-width: 600px) {
  .pl-0 {
    padding-left: 0;
  }
}
.pl-1 {
  padding-left: 0.5rem;
}

@media (max-width: 400px) {
  .pl-1 {
    padding-left: 0.2777777778rem;
  }
}
@media (max-width: 600px) {
  .pl-1 {
    padding-left: 0.3571428571rem;
  }
}
.pl-2 {
  padding-left: 1rem;
}

@media (max-width: 400px) {
  .pl-2 {
    padding-left: 0.5555555556rem;
  }
}
@media (max-width: 600px) {
  .pl-2 {
    padding-left: 0.7142857143rem;
  }
}
.pl-3 {
  padding-left: 2rem;
}

@media (max-width: 400px) {
  .pl-3 {
    padding-left: 1.1111111111rem;
  }
}
@media (max-width: 600px) {
  .pl-3 {
    padding-left: 1.4285714286rem;
  }
}
.pl-4 {
  padding-left: 3rem;
}

@media (max-width: 400px) {
  .pl-4 {
    padding-left: 1.6666666667rem;
  }
}
@media (max-width: 600px) {
  .pl-4 {
    padding-left: 2.1428571429rem;
  }
}
.pl-5 {
  padding-left: 4rem;
}

@media (max-width: 400px) {
  .pl-5 {
    padding-left: 2.2222222222rem;
  }
}
@media (max-width: 600px) {
  .pl-5 {
    padding-left: 2.8571428571rem;
  }
}
.pr-0 {
  padding-right: 0;
}

@media (max-width: 400px) {
  .pr-0 {
    padding-right: 0;
  }
}
@media (max-width: 600px) {
  .pr-0 {
    padding-right: 0;
  }
}
.pr-1 {
  padding-right: 0.5rem;
}

@media (max-width: 400px) {
  .pr-1 {
    padding-right: 0.2777777778rem;
  }
}
@media (max-width: 600px) {
  .pr-1 {
    padding-right: 0.3571428571rem;
  }
}
.pr-2 {
  padding-right: 1rem;
}

@media (max-width: 400px) {
  .pr-2 {
    padding-right: 0.5555555556rem;
  }
}
@media (max-width: 600px) {
  .pr-2 {
    padding-right: 0.7142857143rem;
  }
}
.pr-3 {
  padding-right: 2rem;
}

@media (max-width: 400px) {
  .pr-3 {
    padding-right: 1.1111111111rem;
  }
}
@media (max-width: 600px) {
  .pr-3 {
    padding-right: 1.4285714286rem;
  }
}
.pr-4 {
  padding-right: 3rem;
}

@media (max-width: 400px) {
  .pr-4 {
    padding-right: 1.6666666667rem;
  }
}
@media (max-width: 600px) {
  .pr-4 {
    padding-right: 2.1428571429rem;
  }
}
.pr-5 {
  padding-right: 4rem;
}

@media (max-width: 400px) {
  .pr-5 {
    padding-right: 2.2222222222rem;
  }
}
@media (max-width: 600px) {
  .pr-5 {
    padding-right: 2.8571428571rem;
  }
}
.pt-0 {
  padding-top: 0;
}

@media (max-width: 400px) {
  .pt-0 {
    padding-top: 0;
  }
}
@media (max-width: 600px) {
  .pt-0 {
    padding-top: 0;
  }
}
.pt-1 {
  padding-top: 0.5rem;
}

@media (max-width: 400px) {
  .pt-1 {
    padding-top: 0.2777777778rem;
  }
}
@media (max-width: 600px) {
  .pt-1 {
    padding-top: 0.3571428571rem;
  }
}
.pt-2 {
  padding-top: 1rem;
}

@media (max-width: 400px) {
  .pt-2 {
    padding-top: 0.5555555556rem;
  }
}
@media (max-width: 600px) {
  .pt-2 {
    padding-top: 0.7142857143rem;
  }
}
.pt-3 {
  padding-top: 2rem;
}

@media (max-width: 400px) {
  .pt-3 {
    padding-top: 1.1111111111rem;
  }
}
@media (max-width: 600px) {
  .pt-3 {
    padding-top: 1.4285714286rem;
  }
}
.pt-4 {
  padding-top: 3rem;
}

@media (max-width: 400px) {
  .pt-4 {
    padding-top: 1.6666666667rem;
  }
}
@media (max-width: 600px) {
  .pt-4 {
    padding-top: 2.1428571429rem;
  }
}
.pt-5 {
  padding-top: 4rem;
}

@media (max-width: 400px) {
  .pt-5 {
    padding-top: 2.2222222222rem;
  }
}
@media (max-width: 600px) {
  .pt-5 {
    padding-top: 2.8571428571rem;
  }
}
.pb-0 {
  padding-bottom: 0;
}

@media (max-width: 400px) {
  .pb-0 {
    padding-bottom: 0;
  }
}
@media (max-width: 600px) {
  .pb-0 {
    padding-bottom: 0;
  }
}
.pb-1 {
  padding-bottom: 0.5rem;
}

@media (max-width: 400px) {
  .pb-1 {
    padding-bottom: 0.2777777778rem;
  }
}
@media (max-width: 600px) {
  .pb-1 {
    padding-bottom: 0.3571428571rem;
  }
}
.pb-2 {
  padding-bottom: 1rem;
}

@media (max-width: 400px) {
  .pb-2 {
    padding-bottom: 0.5555555556rem;
  }
}
@media (max-width: 600px) {
  .pb-2 {
    padding-bottom: 0.7142857143rem;
  }
}
.pb-3 {
  padding-bottom: 2rem;
}

@media (max-width: 400px) {
  .pb-3 {
    padding-bottom: 1.1111111111rem;
  }
}
@media (max-width: 600px) {
  .pb-3 {
    padding-bottom: 1.4285714286rem;
  }
}
.pb-4 {
  padding-bottom: 3rem;
}

@media (max-width: 400px) {
  .pb-4 {
    padding-bottom: 1.6666666667rem;
  }
}
@media (max-width: 600px) {
  .pb-4 {
    padding-bottom: 2.1428571429rem;
  }
}
.pb-5 {
  padding-bottom: 4rem;
}

@media (max-width: 400px) {
  .pb-5 {
    padding-bottom: 2.2222222222rem;
  }
}
@media (max-width: 600px) {
  .pb-5 {
    padding-bottom: 2.8571428571rem;
  }
}
.ml-0 {
  margin-left: 0;
}

@media (max-width: 400px) {
  .ml-0 {
    margin-left: 0;
  }
}
@media (max-width: 600px) {
  .ml-0 {
    margin-left: 0;
  }
}
.ml-1 {
  margin-left: 0.5rem;
}

@media (max-width: 400px) {
  .ml-1 {
    margin-left: 0.2777777778rem;
  }
}
@media (max-width: 600px) {
  .ml-1 {
    margin-left: 0.3571428571rem;
  }
}
.ml-2 {
  margin-left: 1rem;
}

@media (max-width: 400px) {
  .ml-2 {
    margin-left: 0.5555555556rem;
  }
}
@media (max-width: 600px) {
  .ml-2 {
    margin-left: 0.7142857143rem;
  }
}
.ml-3 {
  margin-left: 2rem;
}

@media (max-width: 400px) {
  .ml-3 {
    margin-left: 1.1111111111rem;
  }
}
@media (max-width: 600px) {
  .ml-3 {
    margin-left: 1.4285714286rem;
  }
}
.ml-4 {
  margin-left: 3rem;
}

@media (max-width: 400px) {
  .ml-4 {
    margin-left: 1.6666666667rem;
  }
}
@media (max-width: 600px) {
  .ml-4 {
    margin-left: 2.1428571429rem;
  }
}
.ml-5 {
  margin-left: 4rem;
}

@media (max-width: 400px) {
  .ml-5 {
    margin-left: 2.2222222222rem;
  }
}
@media (max-width: 600px) {
  .ml-5 {
    margin-left: 2.8571428571rem;
  }
}
.mr-0 {
  margin-right: 0;
}

@media (max-width: 400px) {
  .mr-0 {
    margin-right: 0;
  }
}
@media (max-width: 600px) {
  .mr-0 {
    margin-right: 0;
  }
}
.mr-1 {
  margin-right: 0.5rem;
}

@media (max-width: 400px) {
  .mr-1 {
    margin-right: 0.2777777778rem;
  }
}
@media (max-width: 600px) {
  .mr-1 {
    margin-right: 0.3571428571rem;
  }
}
.mr-2 {
  margin-right: 1rem;
}

@media (max-width: 400px) {
  .mr-2 {
    margin-right: 0.5555555556rem;
  }
}
@media (max-width: 600px) {
  .mr-2 {
    margin-right: 0.7142857143rem;
  }
}
.mr-3 {
  margin-right: 2rem;
}

@media (max-width: 400px) {
  .mr-3 {
    margin-right: 1.1111111111rem;
  }
}
@media (max-width: 600px) {
  .mr-3 {
    margin-right: 1.4285714286rem;
  }
}
.mr-4 {
  margin-right: 3rem;
}

@media (max-width: 400px) {
  .mr-4 {
    margin-right: 1.6666666667rem;
  }
}
@media (max-width: 600px) {
  .mr-4 {
    margin-right: 2.1428571429rem;
  }
}
.mr-5 {
  margin-right: 4rem;
}

@media (max-width: 400px) {
  .mr-5 {
    margin-right: 2.2222222222rem;
  }
}
@media (max-width: 600px) {
  .mr-5 {
    margin-right: 2.8571428571rem;
  }
}
.mt-0 {
  margin-top: 0;
}

@media (max-width: 400px) {
  .mt-0 {
    margin-top: 0;
  }
}
@media (max-width: 600px) {
  .mt-0 {
    margin-top: 0;
  }
}
.mt-1 {
  margin-top: 0.5rem;
}

@media (max-width: 400px) {
  .mt-1 {
    margin-top: 0.2777777778rem;
  }
}
@media (max-width: 600px) {
  .mt-1 {
    margin-top: 0.3571428571rem;
  }
}
.mt-2 {
  margin-top: 1rem;
}

@media (max-width: 400px) {
  .mt-2 {
    margin-top: 0.5555555556rem;
  }
}
@media (max-width: 600px) {
  .mt-2 {
    margin-top: 0.7142857143rem;
  }
}
.mt-3 {
  margin-top: 2rem;
}

@media (max-width: 400px) {
  .mt-3 {
    margin-top: 1.1111111111rem;
  }
}
@media (max-width: 600px) {
  .mt-3 {
    margin-top: 1.4285714286rem;
  }
}
.mt-4 {
  margin-top: 3rem;
}

@media (max-width: 400px) {
  .mt-4 {
    margin-top: 1.6666666667rem;
  }
}
@media (max-width: 600px) {
  .mt-4 {
    margin-top: 2.1428571429rem;
  }
}
.mt-5 {
  margin-top: 4rem;
}

@media (max-width: 400px) {
  .mt-5 {
    margin-top: 2.2222222222rem;
  }
}
@media (max-width: 600px) {
  .mt-5 {
    margin-top: 2.8571428571rem;
  }
}
.mb-0 {
  margin-bottom: 0;
}

@media (max-width: 400px) {
  .mb-0 {
    margin-bottom: 0;
  }
}
@media (max-width: 600px) {
  .mb-0 {
    margin-bottom: 0;
  }
}
.mb-1 {
  margin-bottom: 0.5rem;
}

@media (max-width: 400px) {
  .mb-1 {
    margin-bottom: 0.2777777778rem;
  }
}
@media (max-width: 600px) {
  .mb-1 {
    margin-bottom: 0.3571428571rem;
  }
}
.mb-2 {
  margin-bottom: 1rem;
}

@media (max-width: 400px) {
  .mb-2 {
    margin-bottom: 0.5555555556rem;
  }
}
@media (max-width: 600px) {
  .mb-2 {
    margin-bottom: 0.7142857143rem;
  }
}
.mb-3 {
  margin-bottom: 2rem;
}

@media (max-width: 400px) {
  .mb-3 {
    margin-bottom: 1.1111111111rem;
  }
}
@media (max-width: 600px) {
  .mb-3 {
    margin-bottom: 1.4285714286rem;
  }
}
.mb-4 {
  margin-bottom: 3rem;
}

@media (max-width: 400px) {
  .mb-4 {
    margin-bottom: 1.6666666667rem;
  }
}
@media (max-width: 600px) {
  .mb-4 {
    margin-bottom: 2.1428571429rem;
  }
}
.mb-5 {
  margin-bottom: 4rem;
}

@media (max-width: 400px) {
  .mb-5 {
    margin-bottom: 2.2222222222rem;
  }
}
@media (max-width: 600px) {
  .mb-5 {
    margin-bottom: 2.8571428571rem;
  }
}
.m-0 {
  margin: 0;
}

@media (max-width: 400px) {
  .m-0 {
    margin: 0;
  }
}
@media (max-width: 600px) {
  .m-0 {
    margin: 0;
  }
}
.m-1 {
  margin: 0.5rem;
}

@media (max-width: 400px) {
  .m-1 {
    margin: 0.2777777778rem;
  }
}
@media (max-width: 600px) {
  .m-1 {
    margin: 0.3571428571rem;
  }
}
.m-2 {
  margin: 1rem;
}

@media (max-width: 400px) {
  .m-2 {
    margin: 0.5555555556rem;
  }
}
@media (max-width: 600px) {
  .m-2 {
    margin: 0.7142857143rem;
  }
}
.m-3 {
  margin: 2rem;
}

@media (max-width: 400px) {
  .m-3 {
    margin: 1.1111111111rem;
  }
}
@media (max-width: 600px) {
  .m-3 {
    margin: 1.4285714286rem;
  }
}
.m-4 {
  margin: 3rem;
}

@media (max-width: 400px) {
  .m-4 {
    margin: 1.6666666667rem;
  }
}
@media (max-width: 600px) {
  .m-4 {
    margin: 2.1428571429rem;
  }
}
.m-5 {
  margin: 4rem;
}

@media (max-width: 400px) {
  .m-5 {
    margin: 2.2222222222rem;
  }
}
@media (max-width: 600px) {
  .m-5 {
    margin: 2.8571428571rem;
  }
}
.o-10 {
  opacity: 0.1;
}

@media (max-width: 400px) {
  .o-10 {
    opacity: 0.0555555556;
  }
}
@media (max-width: 600px) {
  .o-10 {
    opacity: 0.0714285714;
  }
}
.o-20 {
  opacity: 0.2;
}

@media (max-width: 400px) {
  .o-20 {
    opacity: 0.1111111111;
  }
}
@media (max-width: 600px) {
  .o-20 {
    opacity: 0.1428571429;
  }
}
.o-30 {
  opacity: 0.3;
}

@media (max-width: 400px) {
  .o-30 {
    opacity: 0.1666666667;
  }
}
@media (max-width: 600px) {
  .o-30 {
    opacity: 0.2142857143;
  }
}
.o-40 {
  opacity: 0.4;
}

@media (max-width: 400px) {
  .o-40 {
    opacity: 0.2222222222;
  }
}
@media (max-width: 600px) {
  .o-40 {
    opacity: 0.2857142857;
  }
}
.o-50 {
  opacity: 0.5;
}

@media (max-width: 400px) {
  .o-50 {
    opacity: 0.2777777778;
  }
}
@media (max-width: 600px) {
  .o-50 {
    opacity: 0.3571428571;
  }
}
.o-60 {
  opacity: 0.6;
}

@media (max-width: 400px) {
  .o-60 {
    opacity: 0.3333333333;
  }
}
@media (max-width: 600px) {
  .o-60 {
    opacity: 0.4285714286;
  }
}
.o-70 {
  opacity: 0.7;
}

@media (max-width: 400px) {
  .o-70 {
    opacity: 0.3888888889;
  }
}
@media (max-width: 600px) {
  .o-70 {
    opacity: 0.5;
  }
}
.o-80 {
  opacity: 0.8;
}

@media (max-width: 400px) {
  .o-80 {
    opacity: 0.4444444444;
  }
}
@media (max-width: 600px) {
  .o-80 {
    opacity: 0.5714285714;
  }
}
.o-90 {
  opacity: 0.9;
}

@media (max-width: 400px) {
  .o-90 {
    opacity: 0.5;
  }
}
@media (max-width: 600px) {
  .o-90 {
    opacity: 0.6428571429;
  }
}
.o-100 {
  opacity: 1;
}

@media (max-width: 400px) {
  .o-100 {
    opacity: 0.5555555556;
  }
}
@media (max-width: 600px) {
  .o-100 {
    opacity: 0.7142857143;
  }
}
.menu-btn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media (max-width: 600px) {
  .menu-btn {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
}
.menu-btn .log {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
}
.menu-btn .menu-btn__burger {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.nav .menu-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (max-width: 600px) {
  .nav .menu-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}
.nav .menu-nav .menu-nav__item {
  transition: all 0.2s ease-in-out;
}
.nav .menu-nav .menu-nav__item:hover {
  transform: scale(1.5);
}
.nav .menu-nav .menu-nav__link {
  text-decoration: none;
  font-weight: bolder;
}
@media (max-width: 600px) {
  .nav .menu-nav .menu-nav__link {
    color: #3A3A3A;
  }
}
.nav .menu-nav .menu-nav__link:hover {
  color: #6F77F4;
}

.showpage {
  display: none;
  position: fixed;
  max-width: 100%;
  height: 100%;
  background-color: #fff;
  top: 0%;
  left: 0%;
  margin: 0;
  padding: 0;
  z-index: 100;
}
.showpage .information {
  display: flex;
  width: 50%;
}
.showpage .information .block-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (max-width: 600px) {
  .showpage .information .block-info {
    padding: 0;
    margin: 0;
    width: 25em;
  }
  .showpage .information .block-info img {
    max-width: 100%;
    width: 100%;
  }
}
@media (max-width: 600px) {
  .showpage .information {
    width: 400px;
  }
}
.showpage .text-info {
  background-color: #6F77F4;
  display: flex;
  flex-direction: row;
  justify-content: default;
}
.showpage .text-info .logo-info, .showpage .text-info .touch {
  width: 50%;
  color: #fff;
}
.showpage .text-info .touch {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.showpage .text-info .logo-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 600px) {
  .showpage .text-info .logo-info img {
    width: 35px;
    height: 35px;
  }
}

.show {
  display: flex;
  display: flex;
  flex-direction: row;
  justify-content: default;
  top: 0%;
  right: 0%;
  padding: 0;
  margin: 0;
  overflow-y: hidden;
  overflow-x: hidden;
}
@media (max-width: 600px) {
  .show {
    display: flex;
    flex-direction: column-reverse;
    justify-content: default;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
    overflow-x: hidden;
  }
}

.half-img {
  max-width: 100%;
  height: 100%;
}
@media (max-width: 600px) {
  .half-img {
    max-width: 100%;
  }
}

.home {
  max-width: 100%;
  height: 95vh;
  background-color: #ff6666;
}
@media (max-width: 600px) {
  .home {
    height: 80vh;
  }
}
.home .container {
  position: relative;
  display: block;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  object-fit: fill;
}
@media (max-width: 600px) {
  .home .container {
    max-width: 100%;
    width: 100%;
  }
}
@media (max-width: 600px) {
  .home .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2em, 0, 1em, 0;
    padding: 0;
  }
}
.home .container .heading-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media (max-width: 600px) {
  .home .container .heading-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .home .container .heading-info .text-heading {
    font-size: 2.7em;
  }
}
.home .heading-info .heading-links {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
@media (max-width: 600px) {
  .home .heading-info .heading-links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}
.home .intro-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Superior title", "Times New Roman", sans-serif;
  line-height: 88px;
  letter-spacing: 0em;
}
@media (max-width: 600px) {
  .home .intro-text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    line-height: 50px;
    font-size: 40px;
  }
}
.home .down-arrow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
}
.home .down-arrow img {
  position: relative;
  top: -40%;
  right: 1%;
  transition: 0.65s;
}
.home .down-arrow img:hover {
  top: 0%;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
footer p {
  font-size: 0.9em;
}
footer .touch, footer .logo-info {
  width: 50%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
footer .touch {
  background-color: #6F77F4;
}
@media (max-width: 600px) {
  footer .touch {
    font-size: 0.6em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
  }
}
@media (max-width: 600px) {
  footer .touch .p-3, footer .touch .p-1 {
    padding: 0;
  }
}
footer .logo-info {
  background-color: #FFD324;
}
@media (max-width: 600px) {
  footer .logo-info {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
footer .social {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
@media (max-width: 600px) {
  footer .social img {
    width: 1em;
  }
}
footer img {
  margin: 1em;
}
footer img:hover {
  transition: all 0.2s ease-in-out;
  scale: 1.5;
}

.info-projects {
  display: flex;
  flex-direction: row;
  justify-content: default;
  background-color: #FFD324;
}
.info-projects .proj-image {
  width: 30%;
  position: relative;
}
.info-projects .proj-image img {
  width: 50em;
  position: absolute;
  left: -40%;
  z-index: 3;
  top: 20%;
  border-radius: 10px;
}
@media (max-width: 600px) {
  .info-projects .proj-image img {
    display: none;
  }
}
.info-projects .container-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  justify-content: center;
  line-break: strict;
}
.info-projects .container-text .project-info {
  width: 50%;
  position: relative;
  z-index: 0;
}
@media (max-width: 600px) {
  .info-projects .container-text .project-info {
    padding: 0.9em;
    margin: 0;
    width: 100%;
  }
}
@media (max-width: 600px) {
  .info-projects .container-text .project-info .text-heading {
    font-size: 3.5em;
  }
}
.info-projects .container {
  position: relative;
  z-index: 0;
}
@media (max-width: 600px) {
  .info-projects {
    display: flex;
    flex-direction: row;
    justify-content: default;
    flex-wrap: wrap;
  }
}

.projects {
  display: flex;
  flex-direction: row;
  justify-content: default;
  flex-wrap: wrap;
}
.projects .image-container {
  position: relative;
  display: block;
  max-width: 50%;
  margin-right: auto;
  margin-left: auto;
  object-fit: fill;
}
.projects .image-container img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
  transition: all 0.5s ease-in-out;
}
@media (max-width: 600px) {
  .projects .image-container {
    max-width: 400px;
  }
}
.projects .image-container img {
  opacity: 0;
}
.projects .overlay-text {
  position: absolute;
  top: 50%;
  left: 40%;
}

.aboutMe {
  display: flex;
  flex-direction: row;
  justify-content: default;
  align-items: center;
}
.aboutMe .container {
  padding: 0;
  margin: 0;
  background-color: #FFD324;
}
.aboutMe .container-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-break: strict;
}
.aboutMe .container-text .about-info {
  width: 50%;
}
@media (max-width: 600px) {
  .aboutMe {
    display: flex;
    flex-direction: row;
    justify-content: default;
    flex-wrap: wrap;
  }
  .aboutMe .container-text .about-info {
    width: 100%;
  }
  .aboutMe .text-heading {
    font-size: 3em;
  }
  .aboutMe .text-center {
    text-align: left;
  }
  .aboutMe p {
    padding: 0;
  }
}

.gs_reveal {
  opacity: 0;
  visibility: hidden;
  will-change: transform, opacity;
}

.wrapper {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 600%;
}

.pin-spacer {
  height: 100%;
}

.ender {
  overflow-x: hidden;
  width: 600%;
  display: flex;
  flex-wrap: nowrap;
}
@media (max-width: 600px) {
  .ender {
    width: 600%;
  }
}

.proxy {
  position: absolute;
  visibility: hidden;
}

.panel {
  height: 100%;
  width: 100vw;
}
.panel img {
  max-width: 100%;
  max-height: 100%;
}
@media (max-width: 600px) {
  .panel {
    height: 100%;
  }
}

.pink {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ff6666;
}
.pink .container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.addInfo .container {
  background-color: #1d5eda;
}
.addInfo .container-text {
  display: flex;
  flex-direction: row;
  justify-content: default;
}
@media (max-width: 600px) {
  .addInfo .container-text {
    max-width: 100%;
    flex-wrap: wrap;
  }
  .addInfo .container-text div {
    padding: 0;
    margin: 0;
  }
  .addInfo .container-text div img {
    max-width: 100%;
    width: 100%;
  }
}

@media (max-width: 600px) {
  .bg-white .container .text-heading {
    font-size: 3em;
  }
}
.bg-white .container .work-experience {
  display: flex;
  flex-direction: row;
  justify-content: default;
  flex-wrap: wrap;
  padding: 0.8em;
}
.bg-white .container .work-experience .work-box {
  width: 40%;
  line-height: 1.1;
  padding: 0.9em;
  background-image: linear-gradient(#ffdd57, #ffdd57), linear-gradient(#ffdd57, #ffdd57), linear-gradient(#ffdd57, #ffdd57), linear-gradient(#ffdd57, #ffdd57), linear-gradient(white, white);
  background-repeat: no-repeat;
  background-size: 4px 50%, 50% 4px, 4px 50%, 50% 4px, calc(100% - 8px) calc(100% - 8px);
  background-position: left bottom, left bottom, right top, right top, 4px 4px;
  margin: 20px;
}
@media (max-width: 600px) {
  .bg-white .container .work-experience {
    flex-wrap: wrap;
  }
}
.bg-white .container .heading-info {
  background-color: #FFD324;
}
@media (max-width: 600px) {
  .bg-white .container .heading-info .text-heading {
    font-size: 3.3571428571em !important;
  }
}
.bg-white .touch {
  padding: 1em;
  background-color: #6F77F4;
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: default;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.bg-white .logo-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1em;
  align-items: center;
  background-color: #FFD324;
  width: 50%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.gradient-border {
  background-image: linear-gradient(red, purple), linear-gradient(to right, purple, red), linear-gradient(to bottom, purple, red), linear-gradient(to left, purple, red), linear-gradient(steelblue, steelblue);
}

.bg-blue {
  background-color: #113780;
}

.contact {
  height: 100vh;
}
.contact .container-text {
  background-color: #1d5eda;
}
@media (max-width: 600px) {
  .contact .container-text .text-heading {
    font-size: 3em;
  }
}
.contact .container {
  width: 85%;
  border-radius: 6px;
  padding: 20px 60px 30px 40px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.contact .container .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.contact .container .content .left-side {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  position: relative;
}
.contact .content .left-side::before {
  content: "";
  position: absolute;
  height: 70%;
  width: 2px;
  right: -15px;
  top: 50%;
  transform: translateY(-50%);
  background: #1d5eda;
}
.contact .content .left-side .details {
  margin: 14px;
  text-align: center;
}
.contact .content .left-side .details i {
  font-size: 30px;
  color: #1d5eda;
  margin-bottom: 10px;
}
.contact .content .left-side .details .topic {
  font-size: 18px;
  font-weight: 500;
}
.contact .content .left-side .details .text-one,
.contact .content .left-side .details .text-two {
  font-size: 14px;
  color: #afafb6;
}
.contact .container .content .right-side {
  width: 75%;
  margin-left: 75px;
}
.contact .content .right-side .topic-text {
  font-size: 23px;
  font-weight: 600;
  color: #3e2093;
}
.contact .right-side .input-box {
  height: 50px;
  width: 100%;
  margin: 12px 0;
}
.contact .right-side .input-box input,
.contact .right-side .input-box textarea {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  background: #F0F1F8;
  border-radius: 6px;
  padding: 0 15px;
  resize: none;
}
.contact .right-side .message-box {
  min-height: 110px;
}
.contact .right-side .input-box textarea {
  padding-top: 6px;
}
.contact .right-side .button {
  display: inline-block;
  margin-top: 12px;
}
.contact .right-side .button {
  color: #fff;
  font-size: 18px;
  outline: none;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  background: #1d5eda;
  cursor: pointer;
  transition: all 0.3s ease;
}
@media (max-width: 950px) {
  .contact .container {
    width: 90%;
    padding: 30px 40px 40px 35px;
  }
  .contact .container .content .right-side {
    width: 75%;
    margin-left: 55px;
  }
}
@media (max-width: 820px) {
  .contact .container {
    margin: 40px 0;
    height: 100%;
  }
  .contact .container .content {
    flex-direction: column-reverse;
  }
  .contact .container .content .left-side {
    width: 100%;
    flex-direction: row;
    margin-top: 40px;
    justify-content: center;
    flex-wrap: wrap;
  }
  .contact .container .content .left-side::before {
    display: none;
  }
  .contact .container .content .right-side {
    width: 100%;
    margin-left: 0;
  }
}

.somebtn {
  color: white;
  background: #1d5eda;
  border: 0px;
}
@media (max-width: 600px) {
  .somebtn {
    color: white;
    background: #1d5eda;
    border: 0px;
  }
}