@use './abstracts/index.scss';

.home{
    max-width: 100%;
    height: 100vh;
    .container{
        @include index.container;
        margin: 1.5rem;
    }
    .intro-text{
        margin-top: 20px;
        margin-bottom: 15px;
        font-family: 'Superior title',
        'Times New Roman',
        sans-serif;
        color: #fff;
        font-size:5em;
        line-height: 88px;
        font-weight: 400;
        letter-spacing: 0em;
        @include index.mobile{
            display: flex;
            justify-content: flex-start;
            margin: 0;
            line-height: 50px;
            font-size:40px;
            font-weight:900;
        }
}

}