@use './abstracts/index.scss';
footer{
 p{
     font-size: 0.9em;
 }
 @include index.align(space-between,row);
 .touch,.logo-info{
     width: 50%;
     border-bottom-left-radius: 10px;
     border-bottom-right-radius: 10px;
 }
 .touch{
     background-color: #6F77F4;
 }
 .logo-info{
     background-color: index.$projects-color;
 }
 .social{
     @include index.align(center,row);
 }
 img{
    margin: 1em;
    &:hover{
        transition: all .2s ease-in-out;
        scale: 1.5;
    }
 }
}
