@use "abstracts/index.scss";


.menu-btn {
  @include index.align(space-between,row);
  @include index.mobile {
  @include index.align(flex-end, row);
  }
  .log{
    @include index.align(center,column);
    align-items: center;
    font-weight: bolder;
  }
  .menu-btn__burger{
      @include index.align(flex-end,row);
    }
}

  
  
.nav {
@include index.align(center, row);

  .menu-nav {
     @include index.align(center, column);
     @include index.mobile{
       @include index.align(center,row);
     }
    .menu-nav__item {
    transition: all .2s ease-in-out;
      &:hover {
        transform: scale(1.5);
    }
    }
    
    .menu-nav__link {
    @include index.anchorStyle;
    
     &:hover {
        color: index.$menu-text-bg;
       
    }
    }
}   
}
.showpage{
  display: none;
  position: fixed;
  max-width: 100%;
  height: 100%;
  background-color: index.$menu-bg;
  top: 0%;
  left: 0%;
  margin: 0;
  padding: 0;
  z-index: 100;
  .information{
  display: flex; 
  width: 50%;
  .block-info{
      @include index.align(center,column);
      @include index.mobile{
        padding: 0;
        margin: 0;
        width:25em;
        img{
          max-width: 100%;
          width: 100%;
        }
      }
    }
    @include index.mobile{
      width: 400px;
    }
  }

  .text-info{
    background-color: index.$menu-text-bg;
    @include index.align(default,row);
    .logo-info,.touch{
      width: 50%;
      color: index.$heading-color;
    }
    .touch{
      @include index.align(flex-start,column);
    }
    .logo-info{
      @include index.align(center,column);
      align-items:center;
      @include index.mobile{
        img{
          width: 35px;
          height: 35px;
        }
      }
    }
  }
  
}
.show {
      display: flex;
      @include index.align(default, row);
      top: 0%;
      right: 0%;
      padding: 0;
      margin: 0;
      overflow-y: hidden;
      overflow-x: hidden;
      @include index.mobile{
        @include index.align(default,column-reverse);
        justify-content: center;
        align-items: center;
        overflow-y: hidden;
        overflow-x: hidden;
      }
    }

  .half-img{
  max-width: 100%;
  height: 100%;
  
  @include index.mobile{
    max-width: 100%;
    
   // height: auto !important;
 
  }
}