@use './abstracts/index.scss';
.info-projects{
     @include index.align(default,row);
    
    .proj-image{
        width: 30%;
        position: relative;
        
        
        img{
         width: 50em;
        position: absolute;
        left: -40%;
        z-index: 3;
        top: 20%;
        border-radius: 10px;
        @include index.mobile{
            display: none;
        }
        }
    }
    background-color: index.$projects-color;
    .container-text{
        @include index.align(flex-start,column);
        justify-content: center;
        line-break: strict;
        
        .project-info{
            width: 50%;
            position: relative;
            z-index: 0;

            .text-heading{
                @include index.mobile{
                    font-size: 3.5em;
                }
            }
        }

    }
    .container{
        position: relative;
        z-index: 0;
    }
   
    @include index.mobile{
      @include index.align(default,row);
      flex-wrap: wrap;  
    }
}
.projects{
     @include index.align(default,row);
     flex-wrap: wrap;
 
     .image-container{
         @include index.image-container;
         img{
             opacity: 0;
         }
     }
     .overlay-text{
         position:absolute;
         top: 50%;
         left: 40%;
     }
}