@use 'variables.scss' as v;
@mixin center{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin align($align,$direction){
    display: flex;
    flex-direction: $direction;
    justify-content: $align;
    
}
@mixin anchorStyle{
    text-decoration: none;
    font-weight: bolder;
    @include mobile{
        color:#3A3A3A;
    }
}

@mixin container{
    position: relative;
    display:block;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
    object-fit: fill;
    @include mobile{
        max-width: 100%;
        width: 100%;
    }
}
@mixin image-container{
    position: relative;
    display:block;
    max-width: 50%;
    margin-right: auto;
    margin-left: auto;
    object-fit: fill;
    img{
       max-width: 100%;
       max-height: 100%;
       border-radius:10px;
       transition: all 0.5s ease-in-out;
       ;
    }
    @include mobile{
        max-width: 400px;
    }
}

@mixin mobile{
    @media(max-width:600px){
        @content;
    }
}
@mixin text{
    font-size: 2em;
    color: white;
    @include align(flex-start,row);
    @include mobile{
        font-size:1.4em;
    }
}